{% extends 'base.html.twig' %}

{% block title %}Listes des clients{% endblock %}

{% block body %}
    {#<div class="container bg-white">#}
        <div class="row  bg-white mt-5">
            <div class="col">
                <h1>Listes des clients</h1>

    <table id="dataTable" class="table">
        <thead>
            <tr>
                
                <th>Raison social</th>
                <th>Email</th>
                <th>Téléphone</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for client in clients %}
            <tr>
                
                <td>{{ client.refClient }}</td>
                <td>{{ client.emailClient }}</td>
                <td>{{ client.telClient }}</td>
                <td>
                    <a href="{{ path('client_show', {'id': client.id}) }}">Détails</a>
                    <a href="{{ path('client_edit', {'id': client.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
            </div>
        </div>
    {#</div>#}

    <a href="{{ path('client_new') }}">Créer un nouveau client</a>
{% endblock %}
