<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
        <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
        
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
        
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">

        <script language = "javascript" src="{{asset('js/devis_js/autocompleteClient.js')}}"></script>
        <script language = "javascript" src="{{asset('js/devis_js/lignesDevis.js')}}"></script>
        <script language = "javascript" src="{{asset('js/devis_js/addDevis.js')}}"></script>
        <script language = "javascript" src="{{asset('js/devis_js/addClient.js')}}"></script>
        <script language = "javascript" src="{{asset('js/devis_js/updateDevis.js')}}"></script>

        <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
        <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
        
        
       <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

       {#<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
        #}
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.0/css/jquery.dataTables.css">
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.0/js/jquery.dataTables.js"></script>


    </head>
    <body class="">
        
        <div class="container-fluid  ">
            <div class="row ">
                <div class="col-2 ml-0 pl-0 mr-0 pr-0 ">
                    <div class="row bg-dark" style="height: 50px;">
                        <div class="col-12"><img src="https://www.ljtmaroc.com/images/2-02.png" alt=""></div>
                    </div>
                    <div class="vertical-menu" >
                        <a href="#" class="active">Home</a>
                        <a href="{{ path('devis_index') }}">Gestion de devis</a>
                        <a href="{{ path('client_index') }}">Gestion de clients</a>
                        <a href="#">gestion de commandes</a>
                        <a href="#">gestion de Fournisseur</a>
                        <a href="#">Gestion dossier de fabrication</a>
                        <a href="#">Gestion Facture</a>
                        
                        
                        <a href="#">Link 10</a>
                    </div>
                </div>
                <div class="col-10  ">
                    <div class="row bg-dark" style="height: 50px;">
                        <div class="col-12"></div>
                    </div>
                   {# <div class="   border">
                        <a class="navbar-brand bg-success" href="#">LJT MAROC</a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                          <span class="navbar-toggler-icon"></span>
                        </button>
                      
                        
                    </div>#}
                    {% block body %}{% endblock %}
                </div>
            </div>
        </div>  
        <style>
            .vertical-menu {
                background-color: #eee;
              height: 900px;
              overflow-y: auto;
            }
            
            .vertical-menu a {
              background-color: #eee;
              color: black;
              display: block;
              padding: 12px;
              text-decoration: none;
            }
            
            .vertical-menu a:hover {
              background-color: #ccc;
            }
            
            .vertical-menu a.active {
              background-color: #04AA6D;
              color: white;
            }
            </style> 
        
    </body>
    <script>
        $(document).ready( function () {
        $('#dataTable').DataTable({
            language: {
                 url: '//cdn.datatables.net/plug-ins/1.10.15/i18n/French.json'
            }
        });
        
    } );
    </script>
    
</html>
